body {
  background: #000000;
  /* padding:20px; */
  padding-bottom:0px;
}
p {
  margin:0px;
  padding:0px;
}
.social-sm {
  display: none  !important;
}
.body-container {
  /* max-width: 1440px !important; */
  margin: auto;
}
.mt-40 {
  margin-top:40px;
}
section.section {
background: #1D1C1C;
border: 3px solid #676666;
border-radius: 20px;
padding:20px;
}
.navbar {
  background-color: black !important;
  padding-top:15px !important;
  padding-bottom:15px !important;
  /* border-radius: 20px; */
  width:100%;
  border-bottom: 2px solid white;
}
.navbar .navbar-brand {
  color: white;
  display: flex;
  align-items: center;
  /* width: 225px; */
  height: 42px;
/* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
}
.navbar {
}
.navbar .navbar-brand:hover {
  color: white;
}
.navbar .btn-launch:hover {
  text-decoration: none !important;
}

.navbar .navbar-brand img {
  margin-right: 10px;
}


           
.btn-launch {
  
  background-image: linear-gradient(to right, #c08e25 0%, #418b9f  51%, #c08e25  100%);
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  display: block;
  border-radius: 40px;
  padding:0px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  width: 180px;
  padding: 5px;

}

.btn-launch:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.btn-gradient-border {
  border-radius: 100rem;
  padding: 1rem;
  font-size: 1rem;
  padding: .5rem 3rem;
  color: black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #c08e25, #418b9f);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #1D1C1C inset;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  width: 180px;
  padding: 5px;
}

.btn-gradient-border:hover {
  box-shadow: none;
  color: white;
}
.text-gradient {
  background: -webkit-linear-gradient(#c08e25, #418b9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
}
.nav-item a{
  color: white  !important;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.nav-link.active {
  color: #00E276 !important;
}
.nav-item img {
  width: 25px;
  height: 23px;
  margin-right:5px;
}
.icon {
  width: 25px;
  height: 23px;
  margin-right:5px;
}
ul.navbar-nav {
  width: 100%;
  justify-content: left;
}
ul.navbar-nav li {
  margin-right:10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-0 {
  padding: 0px !important;
}
.min-0 {
  min-height: 0px !important;
}
.w-80 {
  width: 80%;
}
.mt-30 {
  margin-top:30px !important;
}
.f-right {
  float: right;
}
.m-80 {
  margin-top: 80px !important;
}
.section.intro .logo{
  width:120px;
  height:120px;
  
}
.color-green {
  color:#00E276;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.font-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 42px;
  color: #FFFFFF;
}
.font-2 {
  font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 30px;

color: #BCB8B8;
}
.section.intro .main-img {
  height: 100%;
}
.section.intro .bordered-container>div {
  padding:15px;
}
.section.intro .bordered-container>div:not(:last-child) {
  border-bottom: 3px solid #676666;
}
.section.intro .radius-border-right>div:not(:last-child) {
  border-bottom: 3px solid #676666;
}
.border-none {
  border:none !important;
}
.border-right {
  border-right: 3px solid #676666;
}
.mr-5 {
  margin-right: 5px;
}
.bordered-container {
  height: fit-content;
  background: #1D1C1C;
  border: 3px solid #676666;
  border-radius: 20px;
  width:49% !important;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  vertical-align: center;
}
.flex-vertical {
  flex-direction: column !important;
  vertical-align: center !important;
  justify-content: center;
}
.col-md-12 {margin:auto;}
.section.intro.m-auto>div>div.col-md-6 {
  margin:auto;
}
.radius-border-left {
  border:3px solid #676666;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding:20px;
  min-height: 300px;
}

.radius-border-right {
  border:3px solid #676666;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  /* padding:20px; */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  vertical-align: center !important;
  height:fit-content;
  min-height: 300px;
}
.partner .radius-border-left {

  min-height: 300px;
}

.partner .radius-border-right {

  min-height: 300px;
}
.section.intro .radius-border-right>div{
  padding: 20px;
}
.section.intro .radius-border-right>div:not(:last-child) {
  border-bottom: 3px solid #676666 !important;
}
.social-div {
  width:50px;
  height:50px;
}
section.footer {
  width: 100%;
  border-top: 2px solid white;
  display: flex;
  margin-top:40px;
  padding-top:20px;
  padding-bottom:20px;
}
.social-img {
background: #1D1C1C;
border: 3px solid #676666;
width: 60px;
height: 60px;
padding:20px;
border-radius: 50%;

}
.social-twitter {
  background-image: url('../img/social/twitter.png');
  background-repeat: no-repeat;
  background-position: center;
}
.social-discord {
  background-image: url('../img/social/discord.png');
  background-repeat: no-repeat;
  background-position: center;
}
.social-github {
  background-image: url('../img/social/github.png');
  background-repeat: no-repeat;
  background-position: center;
}
.social-telegram {
  background-image: url('../img/social/telegram.png');
  background-repeat: no-repeat;
  background-position: center;
}
.social-m {
  background-image: url('../img/social/m.png');
  background-repeat: no-repeat;
  background-position: center;
}
.social-docs {
  background-image: url('../img/social/docs.png');
  background-repeat: no-repeat;
  background-position: center;
}

.m-0 {
  margin: 0px !important;
}
.navbar-toggler-icon {
  background-image: url('../img/menubar.jpg') !important; 
}

@media only screen and (max-width: 994px) { 
  .nav-item {
    justify-content: center;
    display: flex;
  }
  .launch-link{
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
 .social-div {
  margin-top:30px;
  margin-bottom:30px;
 }
 .moved {
  order:2;
  margin-top:20px !important;
 } 
 .bordered-container {
  width: 100% !important;
  margin-bottom:20px !important;
 }
 .font-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 42px;
  color: #FFFFFF;
}
.font-2 {
  font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 30px;

color: #BCB8B8;
}
.text-gradient {
  font-size:25px;
}
.col-md-12 {
  padding:0px !important;
}

.radius-border-left {
  border-radius: 40px  !important;
  margin-bottom:10px;
}

.radius-border-right {
  border-radius: 40px  !important;
}
}

@media only screen and (max-width: 576px) {
  .social-div {
    width: 100%;
    margin-top:30px;
    margin-bottom:30px;
   }
   .font-1 {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 42px;
    color: #FFFFFF;
  }
  .font-2 {
    font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  
  color: #BCB8B8;
  }
  .text-gradient {
    font-size:23px;
  }
  /* .btn-launch {
    width:150px;
  } */
  .btn-gradient-border {
    width:140px;
  }
}

